@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap");
:root {
  font-size: 15px;
  font-family: "Ubuntu", sans-serif;
}

body .header {
  padding: 40px 100px 0px 100px;
  color: hsl(0deg, 0%, 100%);
  background-image: url(../images/bg-pattern-intro-desktop.svg), -webkit-gradient(linear, left top, right top, from(#ff8f70), color-stop(#ff7e66), color-stop(#ff6c5e), color-stop(#ff5758), to(#ff3d54));
  background-image: url(../images/bg-pattern-intro-desktop.svg), linear-gradient(to right, #ff8f70, #ff7e66, #ff6c5e, #ff5758, #ff3d54);
  background-position-y: 50%;
  background-position-x: 14.5%;
  background-repeat: no-repeat;
  background-size: 2900px, 100%;
  border-radius: 0px 0px 0px 80px;
  height: 380px;
  margin-bottom: 20px;
}
body .header_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 80px;
}
body .header_nav_logo {
  margin-right: 70px;
}
body .header_nav_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
body .header_nav_menu_h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body .header_nav_menu_h2 .title_nav {
  padding-right: 5px;
  cursor: pointer;
}
body .header_nav_menu_h2 .arrow_bottom {
  margin-right: 30px;
  width: 8px;
  height: 8px;
  cursor: pointer;
}
body .header_nav input {
  border-radius: 20px;
  border: none;
  cursor: pointer;
  font-family: "Ubuntu", sans-serif;
}
body .header_nav .login {
  background-color: transparent;
  color: hsl(0deg, 0%, 100%);
  margin-right: 10px;
}
body .header_nav .sign_up {
  background-color: hsl(0deg, 0%, 100%);
  color: #ff3d54;
  padding: 10px 25px;
  font-weight: 700;
}
body .header_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body .header_section h3 {
  font-size: 2.4rem;
  margin-bottom: 20px;
}
body .header_section p {
  font-family: "Overpass", sans-serif;
  margin-bottom: 30px;
}
body .header_section_input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 280px;
}
body .header_section_input input {
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: 700;
  font-family: "Ubuntu", sans-serif;
  cursor: pointer;
}
body .header_section_input .start_input {
  border: none;
  background-color: hsl(0deg, 0%, 100%);
  color: #ff3d54;
}
body .header_section_input .learn_input {
  background-color: transparent;
  border: 1px solid hsl(0deg, 0%, 100%);
  color: hsl(0deg, 0%, 100%);
}
body .section {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: url("../images/illustration-editor-desktop.svg") no-repeat;
  background-size: 770px;
  background-position: 873px 60px;
  padding: 0px 0px 0px 100px;
}
body .section_text {
  width: 34%;
  margin-top: 260px;
}
body .section_title {
  position: absolute;
  left: 50%;
  top: 590px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-family: "Overpass", sans-serif;
  font-weight: 600;
  font-size: 2.1rem;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: hsl(240deg, 10%, 16%);
}
body .section_title_h3 {
  font-family: "Overpass", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: hsl(240deg, 10%, 16%);
}
body .section_paragraphe {
  font-family: "Overpass", sans-serif;
  margin-bottom: 50px;
  line-height: 25px;
  color: hsl(207deg, 13%, 34%);
}