@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap');

$Light-red : hsl(356, 100%, 66%);
$Very-light-red : hsl(355, 100%, 74%);
$Very-dark-blue : hsl(208, 49%, 24%);

$White : hsl(0, 0%, 100%);
$Grayish-blue : hsl(240, 2%, 79%);
$Very-dark-grayish-blue : hsl(207, 13%, 34%);
$Very-dark-black-blue: hsl(240, 10%, 16%);


// Gradient
// Background gradient - Intro/CTA mobile nav:

$Very-light-red: #ff8f70;
$Light-red: #ff3d54;

// Background gradient - body:

$Very-dark-gray-blue: hsl(237, 17%, 21%);
$Very-dark-desaturated-blue: hsl(237, 23%, 32%);

// font-family: 'Overpass', sans-serif;

:root {
    font-size: 15px;
    font-family: 'Ubuntu', sans-serif;
}

body {
    .header {
        padding: 40px 100px 0px 100px;
        color: $White;
        background-image: url(../images/bg-pattern-intro-desktop.svg), linear-gradient(to right, #ff8f70, #ff7e66, #ff6c5e, #ff5758, #ff3d54);
        background-position-y: 50%;
        background-position-x: 14.5%;
        background-repeat: no-repeat;
        background-size: 2900px, 100%;
        border-radius: 0px 0px 0px 80px;
        height: 380px;
        margin-bottom: 20px;



        &_nav {
            display: flex;
            align-items: center;
            margin-bottom: 80px;

            &_logo {
                margin-right: 70px;
            }


            &_menu {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;

                &_h2 {
                    display: flex;
                    align-items: center;



                    .title_nav {
                        padding-right: 5px;
                        cursor: pointer;
                    }

                    .arrow_bottom {
                        margin-right: 30px;
                        width: 8px;
                        height: 8px;
                        cursor: pointer;
                    }
                }
            }

            input {
                border-radius: 20px;
                border: none;
                cursor: pointer;
                font-family: 'Ubuntu', sans-serif;
            }


            .login {
                background-color: transparent;
                color: $White;
                margin-right: 10px;

            }

            .sign_up {
                background-color: $White;
                color: $Light-red;
                padding: 10px 25px;
                font-weight: 700;
            }
        }
    }

    .header_section {
        display: flex;
        flex-direction: column;
        align-items: center;

        h3 {
            font-size: 2.4rem;
            margin-bottom: 20px;
        }

        p {
            font-family: 'Overpass', sans-serif;
            margin-bottom: 30px;
        }

        &_input {
            display: flex;
            justify-content: space-between;
            width: 280px;

            input {
                border-radius: 20px;
                padding: 10px 20px;
                font-size: 1rem;
                font-weight: 700;
                font-family: 'Ubuntu', sans-serif;
                cursor: pointer;
            }

            .start_input {
                border: none;
                background-color: $White;
                color: $Light-red;
            }

            .learn_input {
                background-color: transparent;
                border: 1px solid $White;
                color: $White;
            }
        }

    }

    .section {
        position: relative;
        display: flex;
        background: url("../images/illustration-editor-desktop.svg") no-repeat;
        background-size: 770px;
        background-position: 873px 60px;

        padding: 0px 0px 0px 100px;

        &_text {
            width: 34%;
            margin-top: 260px;
        }

        &_title {
            position: absolute;
            left: 50%;
            top: 590px;
            transform: translate(-50%, -50%);
            font-family: 'Overpass', sans-serif;
            font-weight: 600;
            font-size: 2.1rem;
            font-weight: 600;
            display: flex;
            justify-content: center;
            color: $Very-dark-black-blue;
        }

        &_title_h3 {
            font-family: 'Overpass', sans-serif;
            font-weight: 600;
            font-size: 1.5rem;
            margin-bottom: 20px;
            color: $Very-dark-black-blue;
        }

        &_paragraphe {
            font-family: 'Overpass', sans-serif;
            margin-bottom: 50px;
            line-height: 25px;
            color: $Very-dark-grayish-blue;
        }

    }
}